# Core Libraries
pandas
numpy
scikit-learn

# Big Data & Distributed Processing
pyspark

# Web App Interface
streamlit
flask

# Visualization (optional)
matplotlib

# Utility Libraries (optional)
requests

ipykernel
findspark
scikit-surprise
joblib
